
<div class="col-lg-12">
  <br>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <!-- <th scope="col">E-mail</th> -->
          <th scope="col">Tipo</th>
          <th scope="col">Desconto</th>
          <th scope="col">Telefone</th>
          <th scope="col">Opções</th>
          <th scope="col" align="right"></th>
        </tr>
      </thead>
      <tbody *ngFor="let user of usuarios; let i=index">
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{user.nome}}</td>
          <!-- <td>{{user.email}}</td> -->
          <td>{{user.tipo}}</td>
          <input currencyMask class="form-control" type="text" [(ngModel)]="user.desconto" [options]="MASCARA_PERCENT">
          <td><a  (click)="setUser(user)">{{user.telefone}}</a></td>
          <td align="right" style="width: 14%;">
            <div>
              <img (click)="updateUser(user)" class="btn-option" src="../../../assets/checked.svg" alt="Atualizar">
              <img data-toggle="modal" data-target=".bd-example-modal-sm" (click)="detailUser(user)" class="btn-option" src="../../../assets/eye.svg" alt="Detalhes">
              <img (click)="deleteUser(user)" class="btn-option" src="../../../assets/delete.svg" alt="Deletar">
            </div>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
</div>


<div *ngIf="modalView" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="padding:2rem">
        
              <p><b>Nome</b>  {{userTemp.nome}}</p>
              <p><b>Tipo</b> {{userTemp.tipo}}</p>
              <p><b>E-mail</b> {{userTemp.email}}</p>
              <p><b>Desconto</b> {{userTemp.desconto}}</p>
              <p><b>Telefone</b> {{userTemp.telefone}}</p>
              <p><b>Desconto</b> {{userTemp.desconto}}</p>
              <br>

              <p><b>Bairro</b>  {{userTemp.endereco.bairro}}</p>
              <p><b>Cidade</b> {{userTemp.endereco.cidade}}</p>
              <p><b>Complemento</b> {{userTemp.endereco.complemento}}</p>
              <p><b>Estado</b> {{userTemp.endereco.estado}}</p>
              <p><b>Número</b> {{userTemp.endereco.numero}}</p>
              <p><b>Número</b> {{userTemp.endereco.rua}}</p>
              </div>
          </div>
    </div>
