<div class="container">
  <div class="inner-block">
    
    <div class="col-lg-12">
      <h3 class="text-center title">Cadastro de Dados</h3>
    </div> 
    <div class="signup-form">
        <form>
          <div class="form-group">
            <select name="select-type" [(ngModel)]="newObject['type']" placeholder="Tipo" >
                <option *ngFor="let value of types" [value]="value">{{value}}</option>
            </select><div class="line"></div>
          </div>
          <div class="form-group">
            <input type="text" name="profile" class="line-animation" [(ngModel)]="newObject['profile']" placeholder="Perfil / Cor">
            <div class="line"></div>
          </div>
          <div class="form-group" *ngIf="newObject.type === 'Ferragem'"> 
              <input type="text" name="Weight" class="line-animation" [(ngModel)]="newObject['Weight']" placeholder="Peso">
              <div class="line"></div>
          </div>
          <div class="form-group" *ngIf="newObject.type === 'Acessório'"> 
              <input currencyMask [options]="MASCARA_MONEY" type="text"  [(ngModel)]"newObject['value']" name="Weight" class="line-animation" placeholder="Valor Unitário">
              <div class="line"></div>
          </div>
          <div class="form-group" *ngIf="newObject.type === 'Vidro'"> 
              <input currencyMask [options]="MASCARA_MONEY" type="text" [(ngModel)]="newObject['value']" name="Weight" class="line-animation" placeholder="Valor m²">
              <div class="line"></div>
          </div>
          
          <button type="submit" (click)="saveObject()" [disabled]="!newObject.value && !newObject.profile && !newObject.Weight && !newObject.type" class="btn btn-block btn-outline-primary">Cadastrar</button>

        </form>
      </div>

      <p class="text-center"><a routerLink="/dates">Ver Banco de Dados</a></p>

    </div>
  </div>

